.u-section-1 .u-sheet-1 {
  min-height: 1198px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 20px 920px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 43px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1072px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  min-height: 159px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-text-3 {
  margin: 14px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 14px auto 0 0;
}

.u-section-1 .u-group-2 {
  min-height: 178px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 21px;
}

.u-section-1 .u-text-5 {
  margin: 0 auto 0 12px;
}

.u-section-1 .u-text-6 {
  margin: 20px auto 0 14px;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  margin: 24px auto 0 12px;
}

.u-section-1 .u-group-3 {
  min-height: 190px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 15px 9px;
}

.u-section-1 .u-text-8 {
  margin: 21px auto 0 33px;
}

.u-section-1 .u-text-9 {
  margin: 20px 20px 0 31px;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  margin: 0 auto 0 31px;
}

.u-section-1 .u-group-4 {
  min-height: 178px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 18px 0;
}

.u-section-1 .u-text-11 {
  margin: 6px auto 0 36px;
}

.u-section-1 .u-text-12 {
  margin: 20px 34px 0;
}

.u-section-1 .u-text-13 {
  font-size: 1.25rem;
  margin: 20px auto 0 39px;
}

.u-section-1 .u-group-5 {
  min-height: 178px;
  margin-top: 31px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 11px;
}

.u-section-1 .u-text-14 {
  margin: 0 auto 0 24px;
}

.u-section-1 .u-text-15 {
  margin: 17px 24px 0;
}

.u-section-1 .u-text-16 {
  font-size: 1.25rem;
  margin: 23px auto 0 24px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1072px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-group-6 {
  min-height: 1012px;
  height: auto;
  width: 540px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 29px;
}

.u-section-1 .u-text-17 {
  margin: 2px auto 0 1px;
}

.u-section-1 .u-text-18 {
  margin: 0 auto 0 1px;
}

.u-section-1 .u-text-19 {
  margin: 2px auto 0 1px;
}

.u-section-1 .u-text-20 {
  margin: 2px auto 0 1px;
}

.u-section-1 .u-text-21 {
  margin: 0 auto 0 2px;
}

.u-section-1 .u-group-7 {
  width: 480px;
  min-height: 796px;
  height: auto;
  margin: 30px auto 0 2px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 777px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 720px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 884px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 24px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 884px;
  }

  .u-section-1 .u-group-6 {
    width: 470px;
    height: auto;
  }

  .u-section-1 .u-group-7 {
    width: 412px;
    margin-left: 0;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 500px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-group-6 {
    width: 360px;
  }

  .u-section-1 .u-group-7 {
    width: 302px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1207px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 320px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 925px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 120px;
  }

  .u-section-1 .u-group-6 {
    width: 340px;
  }
}