{% extends "index.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
    <section class="u-clearfix u-section-1" id="sec-fe19">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h3 class="u-text u-text-default">Dashboard</h3>
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-container-align-center u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                            <div class="u-container-style u-expanded-width u-group u-radius-30 u-shape-round u-white u-group-1">
                                <div class="u-container-layout u-container-layout-2">
                                    <span class="u-file-icon u-icon u-icon-1"><img src="{{ url_for('static', filename='images/2800473.png') }}" alt=""></span>
                                    <h3 class="u-text u-text-default u-text-1">Cuentas Pendientes</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-container-align-center u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                            <div class="u-container-style u-expanded-width u-group u-radius-30 u-shape-round u-white u-group-1">
                                <div class="u-container-layout u-container-layout-2">
                                    <span class="u-file-icon u-icon u-icon-2"><img src="{{ url_for('static', filename='images/566718.png') }}" alt=""></span>
                                    <h3 class="u-text u-text-default u-text-1">Mensajes</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-container-align-center u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                            <div class="u-container-style u-expanded-width u-group u-radius-30 u-shape-round u-white u-group-1">
                                <div class="u-container-layout u-container-layout-2">
                                    <span class="u-file-icon u-icon u-icon-3"><img src="{{ url_for('static', filename='images/2360406.png') }}" alt=""></span>
                                    <h3 class="u-text u-text-default u-text-1">Clases</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-container-align-center u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                            <div class="u-container-style u-expanded-width u-group u-radius-30 u-shape-round u-white u-group-1">
                                <div class="u-container-layout u-container-layout-2">
                                    <span class="u-file-icon u-icon u-icon-4"><img src="{{ url_for('static', filename='images/7505711.png') }}" alt=""></span>
                                    <h3 class="u-text u-text-default u-text-1">Notas</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  
{% endblock %}