{% extends "index.html" %}
{% block title %}Mensajes{% endblock %}

{% block content %}

    <section class="u-clearfix u-white u-section-1" id="sec-690e">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 style="font-weight:bold;">MENSAJES</h2>
            <!--BOOTSTRAP USED-->
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <!--START OF NICEPAGES-->
                        <div class="u-container-style u-expanded-width u-group u-palette-1-light-2 u-radius-30 u-shape-round u-group-5">
                            <div class="u-container-layout u-valign-center u-container-layout-6">
                                <h5 class="u-text u-text-default u-text-14">De: <br></h5>
                                <h5 class="u-text u-text-15">Correo: <br></h5>
                                <h4 class="u-text u-text-default u-text-16">Asunto: <br></h4>
                            </div>
                        </div>
                        <!--END OF NICEPAGES-->
                    </div>
                    <div class="col">
                        <!--START OF NICEPAGES-->
                        
                        <!--END OF NICEPAGES-->
                    </div>
                </div>
            </div>
            <!--END OF BOOTSTRAP USED-->


            <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-align-center u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                            <div class="u-container-layout u-container-layout-1">
                                <div class="u-container-style u-expanded-width u-group u-palette-1-light-2 u-radius-30 u-shape-round u-group-5">
                                    <div class="u-container-layout u-valign-bottom u-container-layout-5">
                                        <h5 class="u-text u-text-default u-text-14">De: <br></h5>
                                        <h5 class="u-text u-text-default u-text-15">Correo: <br></h5>
                                        <h4 class="u-text u-text-default u-text-16">Asunto: <br></h4>
                                    </div>
                                </div>
                                <div class="u-container-style u-expanded-width u-group u-palette-1-light-2 u-radius-30 u-shape-round u-group-5">
                                    <div class="u-container-layout u-valign-bottom u-container-layout-5">
                                        <h5 class="u-text u-text-default u-text-5">De: <br></h5>
                                        <h5 class="u-text u-text-default u-text-6">Correo: <br></h5>
                                        <h4 class="u-text u-text-default u-text-7">Asunto: <br></h4>
                                    </div>
                                </div>
                                <div class="u-container-style u-expanded-width u-group u-palette-1-light-2 u-radius-30 u-shape-round u-group-3">
                                    <div class="u-container-layout u-container-layout-4">
                                        <h5 class="u-text u-text-default u-text-8">De: <br></h5>
                                        <h5 class="u-text u-text-9">Correo: <br> </h5>
                                        <h4 class="u-text u-text-default u-text-10">Asunto: <br></h4>
                                    </div>
                                </div>
                                <div class="u-container-style u-expanded-width u-group u-palette-1-light-2 u-radius-30 u-shape-round u-group-4">
                                    <div class="u-container-layout u-container-layout-5">
                                        <h5 class="u-text u-text-default u-text-11">De: <br></h5>
                                        <h5 class="u-text u-text-12">Correo: <br></h5>
                                        <h4 class="u-text u-text-default u-text-13">Asunto: <br></h4>
                                    </div>
                                </div>
                                <div class="u-container-style u-expanded-width u-group u-palette-1-light-2 u-radius-30 u-shape-round u-group-5">
                                    <div class="u-container-layout u-valign-bottom u-container-layout-6">
                                        <h5 class="u-text u-text-default u-text-14">De: <br></h5>
                                        <h5 class="u-text u-text-15">Correo: <br></h5>
                                        <h4 class="u-text u-text-default u-text-16">Asunto: <br></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-7">
                                <div class="u-container-style u-group u-palette-3-light-2 u-radius-30 u-shape-round u-group-6">
                                    <div class="u-container-layout u-container-layout-8">
                                        <h5 class="u-text u-text-default u-text-17">Asunto: <br></h5>
                                        <h5 class="u-text u-text-default u-text-18">Correo: <br></h5>
                                        <h5 class="u-text u-text-default u-text-19">De:<br></h5>
                                        <h5 class="u-text u-text-default u-text-20">Fecha: <br></h5>
                                        <h5 class="u-text u-text-default u-text-21">Mensaje:<br></h5>
                                        <div class="u-container-style u-group u-radius-30 u-shape-round u-white u-group-7">
                                            <div class="u-container-layout u-container-layout-9"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}